
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Rubik', sans-serif;
}

.arrow__bottom{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 36px 108px 0 108px;
  transform: rotate(0);
  top: 0;
  position: absolute;
  border-color: black  transparent transparent transparent;
}
.bend_to_y_axis_positive img {
  transform: perspective(500px) rotateY(10deg);
}.bend_to_y_axis_negative img {
  transform: perspective(500px) rotateY(-10deg);
}